*{
    color:black;
        font-size: 20px;
}
body{
    background-color: rgb(51, 224, 126);
    display: flex;
    justify-content: center;
    height: 90vh;
}
.main{
    width: 300px;
    padding: 20px;
    align-content: center;
    p{
        padding: 10px;
        border: 2px solid black;
        box-shadow: 2px 2px 2px black;
        text-align: right;
        background-color: white;

    }
    .sub{
        background-color:rgb(50, 104, 197);
        border: 2px solid black;
        box-shadow: 5px 5px 2px black;
        padding: 20px;
    }
}
button{
    width: 60px;
    height: 50px;
    background-color: aqua;
}